<ion-content class="ion-padding">

  <div class="loginHeaderImg">
    <img src="./assets/img/senac.png" />
  </div>
  
  <form [formGroup]="formularioLogin">
    <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input type="email" inputmode="email" formControlName="email" required="true"></ion-input>
    </ion-item>  

    <ion-item>
      <ion-label position="stacked">Senha</ion-label>
      <ion-input type="password" inputmode="password" formControlName="password" required="true"></ion-input>
    </ion-item> 

    <ion-button type="submit" expand="block" (click)="login(formularioLogin.value)" [disabled]="formularioLogin.invalid" color="success">Entrar</ion-button>
  </form> 

  <br>

  <ion-button type="button" expand="block" (click)="cadastrar()" fill="clear">Cadastre-se</ion-button>

</ion-content>
